<html>
  <head>
    <link rel="stylesheet" href="app.component.css">
  </head>
  <body>

  <form action="action_page.php" method="post">

    <div class="container">
      <h2 style="text-align:center">
        <label for="login"><b>Login Page</b></label><br>
        <div class="space2" ></div>
        <span style="text-align:end; font-size:small;" >
        <a href="#">SignUp</a></span>
        <br>
        <label for="uname"><b>Username</b></label>
        <div class="space"></div>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <div class="space1"></div>
        <br>
        <label for="psw"><b>Password</b></label>
        <div class="space"></div>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <span class="psw" style="font-size:11px; text-align: end;">Forgot <a href="#">password?</a></span>

        <br>
        <button type="submit">Login</button>
        <div class="space"></div>

        <button type="button" class="cancelbtn">Cancel</button>
      
        <br>
        
      </h2>

    </div>
  </form>

</body>

</html>